section.attachments {
  margin: 1.5rem 0;
  position: relative; }
  section.attachments label {
    font-weight: 300;
    margin: 0; }
  section.attachments .attachments-files {
    display: block;
    font-size: 1rem;
    margin: 0; }
    section.attachments .attachments-files ul {
      margin-top: 0; }
    section.attachments .attachments-files .attachment-size {
      display: inline-block;
      color: var(--font-color-muted); }
  section.attachments .new-tab {
    padding-left: 0.1em;
    padding-right: 0.1em; }
